node_modules/
__pycache__/
*.py[cod]
*.log

backend/venv/
backend/app/static/apks/
backend/backups/
backend/logs/
backend/tests/
backend/.env
backend/.env.example
backend/run.py

frontend/README.md
frontend/.env
frontend/package.json

testupdateapp/
