# Database
DATABASE_URL=mysql+pymysql://user:password@localhost:3306/version_control_db
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=kDL@1234
DB_NAME=version_control_db

# Security
SECRET_KEY=4a1kaw4YNeC7K9VbZ_JAKN3xavgNksBmG7Q5Pz-6OvA
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
API_KEY=vcc_CLyIMWpnDfjx2yII2va3KINm1Z9ASGobYknjTSl7VkE

# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
ENVIRONMENT=development

# File Storage
APK_STORAGE_PATH=./static/apks
MAX_FILE_SIZE=104857600  # 100MB

# WebSocket
WS_HEARTBEAT_INTERVAL=30